@mixin container {
  max-width: 14 00px;
  width: 90%;
  margin: 0 auto;
}

@mixin flexContainer($justify: center, $items: center){
  display: flex;
  justify-content: $justify;
  align-items: $items;
}

@mixin head {
  margin-bottom: 42px;
 
}

@mixin htext($Mtext-color: black){
  font-family: Roboto;
  font-weight: 700;
  font-size: 11px;
  color: $Mtext-color;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}



@mixin bigIMG {
  width: 758px;
  vertical-align: top;
}

@mixin smallIMG {
  width: 362px;
  vertical-align: top;
}

